*,
*::after,
*::before {
  box-sizing: border-box;
}

body,
h1,
h2,
h3,
h4,
h5,
h6,
p,
ul,
ol,
li,
figure,
figcaption,
blockquote,
dl,
dd {
  margin: 0;
}

ul,
ol {
  padding: 0;
}

ul {
  list-style: none;
}

input,
button,
textarea,
select {
  font: inherit;
}

a {
  color: currentColor;
  text-decoration: none;
  transition: 0.2s;
}

body {
  font-family: 'Montserrat', sans-serif;
  background-color: #161514;
  font-weight: 300;
  overflow-x: hidden;
}

main {
  overflow-x: hidden;
}

.container {
  max-width: 1730px;
  padding: 0 10px;
  margin: 0 auto;
}

.button {
  font-family: "Forum", sans-serif;
  font-weight: 400;
  font-size: 29px;
  line-height: 151%;
  border: 5px solid #7C7A79;
  border-radius: 12px;
  background-color: #161514;
  padding: 10px 25px;
  text-transform: uppercase;
  color: #CCC0C0;
  transition: .3s;
  cursor: pointer;
}

.button:hover {
  background: linear-gradient(#161514, #161514) padding-box,
    linear-gradient(to right, #914a05, #edc170, #914a05) border-box;
  border: 5px solid transparent;
}